Output_Images/
Output_Data/
*.bak
*.pyc
*.pdf
*.png
dist/
Auxiliary/Data/endpoints/384/Output_Images/
Auxiliary/Data/endpoints/384/Output_Data/
Auxiliary/Data/endpoints/384/Output_Reports/
Auxiliary/Data/endpoints/1536/Output_Images/
Auxiliary/Data/endpoints/1536/Output_Data/
Auxiliary/Data/endpoints/1536/Output_Reports/
Auxiliary/Data/timecourses/Output_Images/
Auxiliary/Data/timecourses/Output_Data/
Auxiliary/Data/timecourses/Output_Reports/
build/
dist/
Colonyzer2.egg-info/
